# Dependencies
node_modules
.pnpm-store

# Env (NUNCA commitar)
.env
.env.local
.env.production
.env.development

# Builds
dist
build
.next
.turbo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Prisma
backend/prisma/migrations/dev.db*